/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    scroll-behavior: smooth;
    white-space:nowrap;
    
}
/* Nav  */
nav{
    position: fixed;
    z-index: 10;
    top: 1.5em;
    right: 1em;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color:black;
    background-color: aliceblue;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.25vw;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5vw;
}
/* Cose uguali tra le sezioni */
section{
    /* da cellulare non sposta il nav cambiando il viewport*/
    overflow-x: hidden;
}
.shoes-container{
    width: 100%;
    height: 100vh;
    position: relative;
    color: yellow;   
}
/* Content  */
.content{
    /* Centrale */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /*il resto*/

    text-align: center;
}
/* Testo */
.content h2{
    /* Per un minimo di responsività verso il mobile o schermi sottili */
    font-size: 3vw;
    
}
/* Immagine */
.content img{
    /* Per un minimo di responsività verso il mobile o schermi sottili */
    max-width: 100vw;
}
/* Differenze tra le sezioni */
#one{
    background-color: red;
}
#two{
    background-color: green;
}
#three{
    background-color: yellow;
    color: green;
}


/* Cose in più */
/* se il vado hover su un link cambia bgcolor della pagina linkata e combia il colore del testo*/
a[href="#one"]:hover{
    background-color: red;
    color: yellow;
}
a[href="#two"]:hover{
    background-color: green;
    color: yellow;
}
a[href="#three"]:hover{
    background-color: yellow;
    color: green;
}
a:active{
    border:2px solid orange;
}
/* immagine che diventa più grande quando ci passi sopra */
.content img:hover{
    width: 80vw;
    min-width: 550px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    cursor: pointer; 
}

.content div{
    position: relative;
    width: 100%;
}
/* per non far evidenziare un testo */
.noselect {
    user-select: none;
}